.full-width {
  width: 1600px;
  margin: 0 auto;
}

.third-width {
  width: 220px;
  margin: 0px 30px 0px 240px;
  float: left;
}


header {
  height: 470px;
}

nav {
    float: right;
    padding: 20px 100px;
}

nav a {
  padding-left: 20px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
}

a:visited {
  color: green;
}

h1 {
  font-family: 'Homemade Apple', cursive;
  font-size: 40px;
  text-align: center;
  padding: 170px;
}


#worksample {
  width: 1600px;
}

#worksample a {
  padding: 100px;
}

img {
  width: 200px;
  padding: 0px 0px 0px 0px;
}


#pepino {
  background: #fdd8ce;
  height: 2000px;
}

#pepino img {
  width: 350px;
  margin: 100px;
}

#img1 {
  padding: 30px;
}

#img2 {
  padding: 30px;
}

#img3 {
  padding: 30px;
}

#img4 {
  padding: 0px 100px 0px 200px;
}


#img5 {
  padding: 0px 100px 0px 200px;
}
