
/*.full-width {
  width: 1600px;
  margin: 0 auto;
}

.third-width {
  width: 220px;
  margin: 0px 30px 0px 240px;
  float: left;
}
*/

html,
body {
	width:100%;
	height:100%;
	font-size:1em;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:100%;
}

.nav-wrapper {
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items:center;
}

nav {
	display:flex;
	justify-content: center;
	align-items: flex-end;
	padding-top:70px;
   /* padding: 20px 100px;*/
}

nav a {
  padding-left: 20px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
}

a:visited {
  color: green;
}

a:link {
  color: green;
}

h1 {
  font-family: 'Homemade Apple', cursive;
  font-size: 40px;
  text-align: center;
  padding: 100px;
}

#work-links {
	display:flex;
	justify-content: center;
	align-items: center;
	width:100%;
	padding-bottom: 100px;
}

#work-links .third-width {
	padding-bottom: 110px;
}

.full-width {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	width:90%;
}


#work-links a {
  padding: 100px;
}

img {
  width: 200px;
  /*padding-bottom: 100px;*/
}

/*----------FOOTER STYLES---------*/

footer {
	display:flex;
	justify-content: center;
	align-items: center;
}

footer p {
	font-size: 18px;
 	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	color:green;
	margin-top: 50px;
}


/*-------------BRANDING----------------------*/


#pepino {
	display:flex;
	flex-direction: column;
	align-items: center;
  	background: #168241;
	padding-top:100px;
}

.pepino-images {
	display:flex;
	flex-direction: column;
	align-items: center;
}

#pepino img {
  width: 500px;
}

#pepino h1 {
	padding:0;
}

#pepino p {
	font-size: 30px;
	width:60%;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

/*------Made By Tomomi------*/

#mbt {
	display:flex;
	flex-direction: column;
	align-items: center;
  	background: #FFE212;
	padding-top: 100px;
}

#mbt .content-wrapper {
	display:flex;
	flex-direction: column;
	align-items: center;
	padding-top:100px;
}

#mbt h1 {
	padding:0;
}

#mbt p {
	font-size: 30px;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

#img1 {
	margin-top:100px;
		box-shadow: 5px 5px 30px #003300;
	padding-bottom: 0;

}

#img2 {
	margin-top:100px;
		box-shadow: 5px 5px 30px #003300;
	padding-bottom: 0;
}

#img3 {
		margin-top:100px;
		box-shadow: 5px 5px 30px #003300;
	padding-bottom: 0;
}

#img4 {
		margin-top:100px;
		box-shadow: 5px 5px 30px #003300;
	padding-bottom: 0;
}

#img5 {
		margin-top:100px;
		box-shadow: 5px 5px 30px #003300;
	padding-bottom: 0;
	margin-bottom: 170px;
}

#img6 {
  width: 450px;
  box-shadow: 5px 5px 30px #737373;
	padding-bottom: 0;
	margin-bottom: 200px;
}

#img7 {
    width: 800px;
	box-shadow: 5px 5px 30px #737373;
	padding-bottom: 0;
		margin-bottom: 200px;

}

#img8 {
  width: 800px;
	box-shadow: 5px 5px 30px #737373;
	padding-bottom: 0;
		margin-bottom: 200px;

}

#img9 {
  width: 800px;
	box-shadow: 5px 5px 30px #737373;
	padding-bottom: 0;
		margin-bottom: 200px;
}

#img10 {
  width: 500px;
	box-shadow: 5px 5px 30px #737373;
	padding-bottom: 0;
		margin-bottom: 200px;
}


/*-----------BAKERY------------*/

#bakery {
	display:flex;
	flex-direction: column;
	align-items:center;
	background-color:#b9e1d6;
	padding-top:100px;
}

#bakery .content-wrapper {
	display:flex;
	flex-direction: column;
	align-items: center;
	padding-top:100px;
}

#img11 {
	width:500px;
	box-shadow: 5px 5px 30px #737373;
	padding-bottom: 0;
		margin-bottom: 200px;
}

#img12 {
		width:500px;
	box-shadow: 5px 5px 30px #737373;
	padding-bottom: 0;
		margin-bottom: 200px;
}

#img13 {
		width:500px;
	box-shadow: 5px 5px 30px #737373;
	padding-bottom: 0;
		margin-bottom: 200px;
}

#img14 {
		width:500px;
	box-shadow: 5px 5px 30px #737373;
	padding-bottom: 0;
		margin-bottom: 200px;
}

#bakery h1 {
	padding:0;
}

#bakery p {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	text-align: center;
	width:60%;
}


/*------------WEB DESIGN PAGE------------*/

.web-design-background {		 
	background:url('../img/yellow-white.png') no-repeat center center fixed;
	background-size:cover;
}

.content-wrapper {
	display:flex;
	justify-content: center;
	align-items: center;
	width:100%;
}

.project-wrapper {
	display:flex;
	justify-content: center;
	align-items: center;
	width:90%;
	padding-bottom:0;
}

.project-wrapper img {
	width:80%;
	box-shadow: 5px 5px 30px lightgray;

}

.project-description {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:70%;
	margin:0 auto;
	padding-bottom: 100px;
}

.project-description h1 {
	padding:100px 0 50px 0;
	font-size: 30px;
	font-family: 'Lato', sans-serif;

}

.project-description p {
	font-family: 'Lato', sans-serif;
	font-size: 26px;
}

.project-description-p {
	display:flex;
	flex-direction: column;
	align-items: flex-start;
}






/*-----------ABOUT----------------*/

.selfie {
	display:flex;
	justify-content: center;
	align-items: center;
}

.selfie img {
	box-shadow: 5px 5px 20px darkgray;
	width:270px;
}

.about-content-wrapper {
	display:flex;
	flex-direction: column;
	align-items: center;
}

.about-me-info {
	width:60%;
	padding:100px 0;
}

.about-me-info p {
	font-size: 24px;
	text-align: justify;
	color:#8B8B8B;
	/*font-family: 'Lato', sans-serif;
	font-weight: 300;*/
	font-family: 'Raleway', sans-serif;
	margin:0;
}

.about-me-info span {
	color:#FF7575;
	 font-family: 'Homemade Apple', cursive;

}

.contact-info {
	display:flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 100px;
	font-family: 'Lato', sans-serif;
}

.contact-info p {
	font-size: 24px;
	font-family: 'Lato', sans-serif;
}

.separate-line {
	padding-top:120px;
}

.name p {
	font-family: 'Homemade Apple', cursive;
	padding-top:50px;
}
/*---------CONTACT ME----------*/

.contact-me {
	display:flex;
	flex-direction: column;
	align-items: center;
}

.contact-me p {
	font-size: 18px;
}

/*----------TABLET---------------*/

@media only screen and (min-width: 768px) {
	
img {
	width:250px;
	}
	
.contact-info {
	padding-top:80px;
}
	
.contact-info p {
	font-size: 18px;
}
	
.me-info {
	padding-top:30px;
}
	
}

		
	
	
/*-----------DESKTOP------------*/

@media only screen and (min-width: 1200px){
		
.nav-wrapper {
	width:80%;
}
		
#work-links .full-width {
	display:flex;
	flex-direction: row;
	align-items:center;
	width:100%;
}

img {
	width:200px;
}
	
	
footer p {
	margin:100px 0;
}

.contact-info {
		padding-top:80px;
}
	
.contact-info p {
	font-size: 19px;
	letter-spacing: 1px;
}

.me-info {
	padding-top:50px;
}
	
.about-me-info p {
		font-size: 20px;
}

	.about-me-info span {
		font-size: 22px;
	}
/*------------BRANDING PAGE------------*/

.pepino-images {
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;
	width:90%;
}
	
#pepino img {
	width:30%;
	height:auto;
	margin-right:8%;
	margin-left:8%;
	margin-bottom:10%;
}
	
#bakery .content-wrapper {
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;
	width:90%;
}
	
#bakery img {
	width:30%;
	height:auto;
	margin-right:8%;
	margin-left:8%;
	margin-bottom:10%;
}
	
/*------------WEB DESIGN PAGE------------*/

	
.project-wrapper img {
	width:60%;
}


.project-description-p {
	width:70%;
}
	
	.project-description p {
		font-size:20px;		
	}	

}
	

